
<h1>Bienvenido</h1>

<ul>
    {{#each products}}
        <li>
            <h2>{{this._doc.title}}</h2>
            <p>{{this._doc.description}}</p>
            <p>Precio: {{this._doc.price}}</p>
            <p>Stock: {{this._doc.stock}}</p>
        </li>
    {{/each}}
</ul>
<p>Ir a la <a href="/realtimeproducts">lista en tiempo real</a></p> 