
<body>
    <div class="container">
        <h1>Mocking Products</h1>
        {{#each products}}
            <div class="product">
                <h3>{{name}}</h3>
                <p><strong>Precio:</strong> ${{price}}</p>
                <p>{{description}}</p>
            </div>
        {{/each}}
    </div>
</body>