<h1>Perfil de Usuario</h1>

{{#if user}}
    <p>Nombre: {{user.first_name}}</p>
    <p>Correo electr贸nico: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>
    <form action="/api/sessions/logout">
        <button type="submit">Cerrar Sesi贸n</button>
    </form>
{{else}}
    <p>No has iniciado sesi贸n.</p>
    <p><a href="/login">Inicia sesi贸n</a> para ver tu perfil.</p>
{{/if}}